In [1]:
#Pearson Correlation Score 
import numpy as np
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [23]:
#
dataset={'Arif': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.5,'Just My Luck': 3.0, 'Superman Returns': 3.5, 'You, Me and Dupree': 2.5,'The Night Listener': 3.0},
        'Akil': {'Lady in the Water': 3.0, 'Snakes on a Plane': 3.5,'Just My Luck': 1.5, 'Superman Returns': 5.0, 'The Night Listener': 3.0,'You, Me and Dupree': 3.5},
        'Ani': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.0,'Superman Returns': 3.5, 'The Night Listener': 4.0},
        'Bayu': {'Snakes on a Plane': 3.5, 'Just My Luck': 3.0,'The Night Listener': 4.5, 'Superman Returns': 4.0,'You, Me and Dupree': 2.5},
        'Caca': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,'Just My Luck': 2.0, 'Superman Returns': 3.0, 'The Night Listener': 3.0,'You, Me and Dupree': 2.0},
        'Syfa': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,'The Night Listener': 3.0, 'Superman Returns': 5.0, 'You, Me and Dupree': 3.5},
        'Yono': {'Snakes on a Plane':4.5,'You, Me and Dupree':1.0,'Superman Returns':4.0}}

In [24]:
data=pd.DataFrame(dataset).fillna(0)
data

                    Arif  Akil  Ani  Bayu  Caca  Syfa  Yono
Lady in the Water    2.5   3.0  2.5   0.0   3.0   3.0   0.0
Snakes on a Plane    3.5   3.5  3.0   3.5   4.0   4.0   4.5
Just My Luck         3.0   1.5  0.0   3.0   2.0   0.0   0.0
Superman Returns     3.5   5.0  3.5   4.0   3.0   5.0   4.0
You, Me and Dupree   2.5   3.5  0.0   2.5   2.0   3.5   1.0
The Night Listener   3.0   3.0  4.0   4.5   3.0   3.0   0.0


Ecludiean Distance

In [4]:
#now finding the similarity between any two person using Ecludiean distance
def get_similarity(data,p1,p2):
    #for finding the similarity between tow person 
    #we need to find the simiilar item between them. Similar item mean ..rate score against same movie
    
    p1=[score for key,score in data[p1].items()]
    p2=[score for key,score in data[p2].items()]
    
    sum_of_square=sum(pow(p1[index]-p2[index],2) for index in range(len(p1)) if p2[index]!=0 and p1[index]!=0)
        
    return 1/(1+sum_of_square)

In [50]:
get_similarity(data,"Arif","Yono")

<ipython-input-4-3007a57cae0a>:9: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_of_square=sum(pow(p1[index]-p2[index],2) for index in range(len(p1)) if p2[index]!=0 and p1[index]!=0)

0.2222222222222222

Daftar Peringkat

In [52]:
#lets i want find the distance between Lisa Rose and every other person

ranking={}
names=list(data.columns)
for person in names:
    ranking[person]=get_similarity(data,"Arif",person)

sortedlist=sorted(ranking,key=ranking.get,reverse=True)

for key in sortedlist:
    print("%20s %20f"%(key,ranking[key]))

                Arif             1.000000
                 Ani             0.444444
                Caca             0.333333
                Bayu             0.285714
                Yono             0.222222
                Syfa             0.210526
                Akil             0.148148

<ipython-input-4-3007a57cae0a>:9: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_of_square=sum(pow(p1[index]-p2[index],2) for index in range(len(p1)) if p2[index]!=0 and p1[index]!=0)

Korelasi person

In [42]:
def sim_correlation(data,p1,p2):
    #finding x and y
    list_p1=list(data[p1])
    list_p2=list(data[p2])
    
    #finding step1 and 2
    sum1=sum(list_p1[index] for index in range(len(list_p1)) if list_p2[index]!=0)
    sum2=sum(list_p2[index] for index in range(len(list_p2)) if list_p1[index]!=0)
    
    #doing step 3
    pSum=sum([list_p1[index]*list_p2[index] for index in range(len(list_p1)) if list_p1[index]!=0 and list_p2[index]!=0])
    
    #doing Step 5 and 6
    sum1sqr=sum([pow(list_p1[index],2) for index in range(len(list_p1)) if list_p1[index]!=0 and list_p2[index]!=0])
    sum2sqr=sum([pow(list_p2[index],2) for index in range(len(list_p2)) if list_p1[index]!=0 and list_p2[index]!=0])
    
    #n-of nummerator
    n=([index for index in range(len(list_p1)) if list_p1[index]!=0 and list_p2[index]!=0])
    n=len(n)
    
    #nummerator
    num=pSum-(sum1*sum2/n)
    
    #Denamuerator
    den=math.sqrt(sum1sqr-pow(sum1,2)/n)*math.sqrt(sum2sqr-pow(sum2,2)/n)
    
    r=num/den
    return r

In [43]:
sim_correlation(data,"Arif","Akil")

<ipython-input-42-83dcf4c98b3b>:7: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum1=sum(list_p1[index] for index in range(len(list_p1)) if list_p2[index]!=0)
<ipython-input-42-83dcf4c98b3b>:8: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum2=sum(list_p2[index] for index in range(len(list_p2)) if list_p1[index]!=0)

0.39605901719066977

Skor untuk korelasi person

In [44]:
#lets i want find the distance between Lisa Rose and every other person

ranking={}
names=list(data.columns)
for person in names:
    ranking[person]=sim_correlation(data,"Arif",person)

sortedlist=sorted(ranking,key=ranking.get,reverse=True)

for key in sortedlist:
    print("%20s %20f"%(key,ranking[key]))

                Arif             1.000000
                Yono             0.991241
                Syfa             0.747018
                Caca             0.594089
                Bayu             0.566947
                 Ani             0.404520
                Akil             0.396059

<ipython-input-42-83dcf4c98b3b>:7: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum1=sum(list_p1[index] for index in range(len(list_p1)) if list_p2[index]!=0)
<ipython-input-42-83dcf4c98b3b>:8: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum2=sum(list_p2[index] for index in range(len(list_p2)) if list_p1[index]!=0)

In [45]:
#lets i want find the distance between Lisa Rose and every other person

ranking={}
names=list(data.columns)
for person in names:
    ranking[person]=get_similarity(data,"Arif",person)

sortedlist=sorted(ranking,key=ranking.get,reverse=True)

for key in sortedlist:
    print("%20s %20f"%(key,ranking[key]))

                Arif             1.000000
                 Ani             0.444444
                Caca             0.333333
                Bayu             0.285714
                Yono             0.222222
                Syfa             0.210526
                Akil             0.148148

<ipython-input-4-3007a57cae0a>:9: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_of_square=sum(pow(p1[index]-p2[index],2) for index in range(len(p1)) if p2[index]!=0 and p1[index]!=0)

Digunakan Berdasarkan Collebrative filtering

In [46]:
def get_getrecommendationitem(data,person):
    totals={}
    simSum={}
    names=list(data.columns)
    movies=list(data.transpose().columns)

    for other in names:
        if other==person:
            continue
        sim=sim_correlation(data,person,other)
        
        if sim<=0:
            continue
        
        for item in movies:
            if data[person][item]==0 and data[other][item]!=0:
                totals.setdefault(item,0)
                totals[item]+=data[other][item]*sim
                simSum.setdefault(item,0)
                simSum[item]+=sim
    ranking=[(total/simSum[item],item) for item,total in totals.items()]
              
    ranking.sort()
    ranking.reverse()
    return ranking

In [51]:
get_getrecommendationitem(data,"Yono")

<ipython-input-42-83dcf4c98b3b>:7: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum1=sum(list_p1[index] for index in range(len(list_p1)) if list_p2[index]!=0)
<ipython-input-42-83dcf4c98b3b>:8: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum2=sum(list_p2[index] for index in range(len(list_p2)) if list_p1[index]!=0)

[(3.3477895267131017, 'The Night Listener'),
 (2.8325499182641622, 'Lady in the Water'),
 (2.5309807037655645, 'Just My Luck')]